
DATABASE_URL="Your Connection String"

PORT= port
APP_URL= your local url

BCRYPT_SALT_ROUNDS= your round

JWT_ACCESS_SECRET= your secret
JWT_REFRESH_SECRET= your secret
JWT_ACCESS_EXPIRES_IN= your time
JWT_REFRESH_EXPIRES_IN= your time